name: Test

on: [ 'push' ]

jobs:
  psalm:
    name: php unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - 8.0
          - 8.1
        composer:
          - ""
          - "--prefer-lowest"
    steps:
      - name: Git checkout
        uses: actions/checkout@v5
      - name: Install Dependencies
        run: composer install
      - name: Run tests
        run: composer test